<p><strong>Contact Me</strong></p>
<div class="buttons {% if include.centered %} is-centered {% endif %}">
    <a class="button is-medium is-facebook"
       onclick="window.open('https://www.facebook.com/{{ site.footer-links.facebook }}');">
        <span class="icon"><i class="fab fa-facebook fa-lg"></i></span>
    </a>
    <a class="button is-medium is-twitter"
       onclick="window.open('https://twitter.com/{{ site.footer-links.twitter }}');">
        <span class="icon"><i class="fab fa-twitter fa-lg"></i></span>
    </a>
    <a class="button is-medium is-linkedin"
       onclick="window.open('https://www.linkedin.com/{{ site.footer-links.linkedin }}');">
        <span class="icon"><i class="fab fa-linkedin fa-lg"></i></span>
    </a>
    <a class="button is-medium is-reddit"
       onclick="window.open('https://reddit.com/{{ site.footer-links.reddit }}');">
        <span class="icon"><i class="fab fa-reddit fa-lg"></i></span>
    </a>
    <a class="button is-medium is-github"
       onclick="window.open('https://github.com/{{ site.footer-links.github }}');">
        <span class="icon"><i class="fab fa-github fa-lg"></i></span>
    </a>    
</div>